/* G01 Overrides */

.sidebar-nav>ul>li>a.active { 
 background:#FCFCFC !important;
}

.animated {
    -webkit-animation-duration: 0.3s !important;
    animation-duration: 0.3s !important;
    -webkit-animation-fill-mode: both;
}

.sidebar-footer a {
    width: 50% !important;
}


.login-box-left {
	left: 0 !important;
right: 0 !important;
min-width: 350px;
width: 60% !important;
position: absolute;
height: max-content !important;
top: 5%;
}

.todo-list li {
	padding: 0 !important;
}

body, aside {
	font-size:1.1em;
}

.left-aside ul {
	font-size:1em !important;
}